<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReGifter</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header id="nav-wrapper">
    <nav id="nav">
      <div class="nav left">
        <span class="gradient skew"><h1 class="logo un-skew">ReGifter</h1></span>
        <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
      </div>
      <div class="nav right">
        <a href="/" class="nav-link active"><span class="nav-link-span"><span class="u-nav">Home</span></span></a>
        <a href="/about" class="nav-link"><span class="nav-link-span"><span class="u-nav">About</span></span></a>
        <a href="/profile" class="nav-link"><span class="nav-link-span"><span class="u-nav">Profile</span></span></a>
        <a href="/login" class="nav-link"><span class="nav-link-span"><span class="u-nav">Login</span></span></a>
      </div>
    </nav>
  </header>
  <div class="flex-column justify-space-around">

    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>

    <footer>
      {{!-- footer? --}}
    </footer>

  </div>

</body>

<script src="jquery-3.6.0.min.js"></script>

</html>