




<nav>
<a class="login-form" href="/login">login</a>
</nav>

{{#each reviews as |reviews| }}
<div class="row mb-4 project">
  <div class="col-md-5" >
   
    <h2>
      
      {{reviews.name}}
    </h2>
    <p>Created by {{reviews.user.name}} on {{format_date reviews.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{reviews.description}}
    </p>
  </div>
</div>
{{/each}}

<script>
  AOS.init();
</script>