<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="Name" id="name-signup" required="">
					<input type="text" name="email" placeholder="Email" id="email-signup" required="">
					<input type="password" name="pswd" placeholder="Password" id="password-signup" required="">
					<button class="signup-form">Sign up</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="text" name="email" placeholder="Email" id="email-login" required="">
					<input type="password" name="pswd" placeholder="Password" id="password-login" required="">
					<button class="login-form">Login</button>
				</form>
			</div>
	</div>
<script src="/js/login.js"></script>