<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Give your gift reviews!</h3>

    <form class="form new-gift-form">
      <div class="form-group">
        <label for="gift-name">gift name:</label>
        <input class="form-input" type="text" id="gift-name" name="gift-name" />
      </div>
      <div class="form-group">
        <label for="gift-price">gift price ($):</label>
        <input class="form-input" type="text" id="gift-price" name="gift-price" />
      </div>
      <div class="form-group">
        <label for="gift-desc">description:</label>
        <textarea class="form-input" id="gift-desc" name="gift-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if reviews.length}}
  <div class="col-md-6 gift-list">
    <h3>Current Reviews:</h3>
<--!! are these labeled right?
    {{#each reviews as |reviews|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/gift/{{gift.id}}">{{gift.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{gift.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/profile.js"></script>
